@model IEnumerable<Zaggar.Models.Quote>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="panel panel-default">
    <div class="panel-heading">
        Quote
    </div>
    <div class="panel-body">
        <div class="dataTables_wrapper">
            <table id="quoteTable" class="table table-hover table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Customer.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.QuoteDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ExpiryDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.QuoteStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Discount)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                        <tr id="@item.QuoteID">
                            <td>
                                @Html.DisplayFor(modelItem => item.Customer.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.QuoteDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExpiryDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.QuoteStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Discount)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.QuoteID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.QuoteID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.QuoteID })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>