@model IEnumerable<Zaggar.Models.QuoteItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quote.QuoteID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            Exclusive
        </th>
        <th>
            VAT
        </th>
        <th>
            Total
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quote.QuoteID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @item.Exclusive
        </td>
        <td>
            @item.VAT
        </td>
        <td>
            @item.Total
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Item }) |
            @Html.ActionLink("Details", "Details", new { id=item.Item }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Item })
        </td>
    </tr>
}

</table>
